<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{{ page.title }}</title>

    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/styles.css">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/pygment_trac.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <aside>
        
        <img src="{{ BASE_PATH }}/{{ site.userpic }}" id="userpic">
        <ul>
          <li class="contact"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          <li class="contact">
            {{ site.author.org }}
          </li>
        </ul>
            <a href="assets/cv/cv.pdf">Résumé</a>

        <!--
        <nav>
          <ul>
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </nav>
      -->
      </aside>
      <header class="main">
        <hgroup>
          <h1>
            <a href="/">{{ site.title }}</a>
          </h1>
          {% if site.author.position %}
          <h2>{{ site.author.position }}</h2>
          {% endif %}
        </hgroup>

          <div class="social">
            <a href="http://github.com/{{ site.author.github }}/" rel="me" title="My code on GitHub"><img src="{{ BASE_PATH }}/assets/justvector/github_alt.png"></a>
            <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}/" rel="me" title="My profile on LinkedIn"><img src="{{ BASE_PATH }}/assets/justvector/linkedin_alt.png"></a>       
            <a href="http://twitter.com/{{ site.author.twitter }}/" rel="me" title="My Twitter"><img src="{{ BASE_PATH }}/assets/justvector/twitter_alt.png"></a>       
            <a href="http://flickr.com/photos/{{ site.author.flickr }}/" rel="me" title="My photos on Flickr"><img src="{{ BASE_PATH }}/assets/justvector/flickr.png"></a>       
            <a href="http://picasaweb.google.com/{{ site.author.picasa }}/" rel="me" title="My photos on Picasa"><img src="{{ BASE_PATH }}/assets/justvector/picassa.png"></a>
            <a href="http://soundcloud.com/{{ site.author.soundcloud }}/" rel="me" title="My musical experiments on Soundcloud"><img src="{{ BASE_PATH }}/assets/justvector/soundcloud.png"></a>
          </div>

        <!--
        <ul class="buttons">
          <li><a href="http://github.com/{{ site.author.github }}/" rel="me">Code <strong>GitHub</strong></a></li>
          <li><a href="http://www.linkedin.com/in/{{ site.author.linkedin }}/" rel="me">Connect <strong>LinkedIn</strong></a></li>
          <li><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">Follow <strong>Twitter</strong></a></li>
        </ul>
        -->
      </header>
      <section class="main">
        {{ content }}
      </section>
      <footer class="main">
        <p>
          <small>
          Powered by <a href="http://github.com/mojombo/jekyll">Jekyll</a> and <a href="http://pages.github.com/">GitHub Pages</a>.
          <br>Theme based on <a href="http://sdb.github.com/jb-theme-ghminimal/">ghminimal</a> which is in turn based on <a href="http://github.com/orderedlist/minimal/">minimal</a>. 
          <br>Social media icons by <a href="http://designmoo.com/3783/justvector-social-media-icons/">designmoo</a>.
          </small>
        </p>
      </footer>
    </div>
    <script src="{{ ASSET_PATH }}/js/scale.fix.js"></script>

    {% include JB/analytics %}
  </body>
</html>